*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: aquamarine;
}

.book{
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front, .back{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    transition: transform 0.5s;
}

.back-content{
    /* Lat chu lai */
    transform: rotateY(180deg); 
}

/* Flipped effect */
.flipped .front,
.flipped .back{
    transform: rotateY(-180deg);
}

.front{
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid rgb(111, 108, 108);

}
.back{
    z-index: 0;
}

.front-content, .back-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.5s;
}

button:focus{
    outline: none;
}

button:hover i{
    background-color: rgb(147, 147, 147);
}

i{
    font-size: 40px;
}

/* Stack */
#p1{
    z-index: 3;
}
#p2{
    z-index: 2;
}
#p3{
    z-index: 1;
}