:root{
    --a-primary: #645CBB;
    --b-accent: #A084DC;
    --b-hover: #ebc7e670;
    --c-background: #EBC7E6;
    --text-1: #FFFFFF;
    --text-2: #18135A;
    --notebook: #6415A4;
}
body{
    margin: 0 auto;
    background-color: var(--b-accent);
    /* display: flex;
    justify-content: center; */
}
.container-sidebar{
    display: flex;
    justify-content: space-between;
    width: 15%;
    position: fixed;
    top: 0;
    .side-bar{
        width: 100%;
        height: 100vh;
        background-color: var(--a-primary);
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding-top: 40px;
        .logo{
            margin: 0 auto;
            width: 60px;
            height: 60px;
            background-color: rgb(144, 146, 148);
            border-radius: 50%;
            margin-bottom: 10px;
        }
        .side-item{
            height: 40px;
            align-content: center;
            transition: all 0.3 ease;
            color: #FFFFFF;
            text-decoration: none;
        }
        .side-item:hover{
            background-color: var(--b-hover);
            color: #FFFFFF;
        }
        .active-nav{
            background-color: var(--c-background);
            color: var(--text-2);
        }
        .side-item:hover{
            background-color: var(--b-hover);
            /* color: var(--text-2); */
        }
        .active-nav:hover{
            background-color: var(--c-background);
            color: var(--text-2);
        }
        
    }

}
.container-wrap-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .book{
        position: relative;
        width: 400px;
        height: 550px;
        transition: transform 0.5s;
    }

    .paper{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        perspective: 1500px;
    }

    .front, .back{
        background-color: rgb(201, 183, 170);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: left;
        transition: transform 0.5s;
    }

    .back-content{
        /* Lat chu lai */
        transform: rotateY(180deg); 
    }

    /* Flipped effect */
    .flipped .front,
    .flipped .back{
        transform: rotateY(-180deg);
    }

    .front{
        z-index: 1;
        backface-visibility: hidden;
        border-left: 3px solid rgb(111, 108, 108);

    }
    .book-cover{
        background-color: var(--a-primary);
    }
    .back{
        z-index: 0;
    }

    .front-content, .back-content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        span{
            color: var(--text-1);
        }
    }

    button{
        margin: 30px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        transition: transform 0.5s;
    }

    button:focus{
        outline: none;
    }

    button:hover i{
        background-color: rgb(147, 147, 147);
    }

    i{
        font-size: 40px;
    }

    /* Stack */
    #p1{
        z-index: 16;
    }
    #p2{
        z-index: 15;
    }
    #p3{
        z-index: 14;
    }
    #p4{
        z-index: 13;
    }
    #p5{
        z-index: 12;
    }
    #p6{
        z-index: 11;
    }
    #p7{
        z-index: 10;
    }
    #p8{
        z-index: 9;
    }
    #p9{
        z-index: 8;
    }
    #p10{
        z-index: 7;
    }
    #p11{
        z-index: 6;
    }
    #p12{
        z-index: 5;
    }
    #p13{
        z-index: 4;
    }
    #p14{
        z-index: 3;
    }
    #p15{
        z-index: 2;
    }
    #p16{
        z-index: 1;
    }
}
