@media screen and (max-width: 1010px) {
    .container{
        .side-bar{

        }
        .hero-wrap{
            width: 42%;
            height: 65vh;
            margin: 40px 90px 0 0;
        }
    }
}